<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" type="text/css" href="/static/lib/datatables/1.10.15/jquery.dataTables.css">
    <div th:include="admin/common :: head"></div>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/static/lib/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
        .type{
            position:absolute;
            top:144px;
            left:166px;
            height:22px;
            width:90px;
            border:1px solid lightgray;
            z-index: 10;
        }

        th {
            text-align: center;
        }

        .table td {
            text-align: center;
        }
    </style>
    <title>用户管理</title>
</head>

<body>

<div class="cl pd-20" style=" background-color:#5bacb6">
    <!-- 教师头像默认保存在home/teacherImg -->
    <img class="avatar size-XL l" src="/static/images/logo/favicon.png">
    <dl style="margin-left:80px; color:#fff">
        <dt>
			<span class="f-16" >我加入的课程
			</span>
            <br>
            <span class="f-14" th:text="总共+${courseList.size()}+门">
            </span>
        </dt>
    </dl>
</div>

<!--<div class="cl pd-5 bg-1 bk-gray mt-20">

    <span class="l">
		<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
		    <i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
	</span>
    <span class="r" >共有数据：<div style="display:inline;line-height:31px" th:text="${courseList.size()} ">条</div></span>
</div>-->

<div class="page-container">
    <div class="mt-20">
        <table id="sheetList" class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
            <tr class="text-c">
                <th width="25">
                    <input type="checkbox" name="" value="">
                </th>
                <th width="80">ID</th>
                <th>课程名称</th>
                <th>课程封面</th>
                <th>创建时间</th>

                <th width="100">操作</th>
            </tr>
            </thead>

            <tbody>
            <tr  th:each="course,courseList : ${courseList}" >
                <td><input type="checkbox" th:value="${course.courseId}"  name=""></td>
                <td th:text="${course.courseId}"></td>
                <td th:text="${course.courseName}"></td>

                <td><img width="100" height="100" class="picture-thumb"
                         th:src="${course.courseImg}"></td>

                <th th:text="${#dates.format(course?.createTime, 'yyyy-MM-dd')}"></th>

                <td class="td-manage">
                    <!--<a title="停用" style="text-decoration:none" onClick="member_stop(this,'10001')" href="javascript:;" >
                        <i class="Hui-iconfont">&#xe631;</i></a>-->
                    <a title="删除" href="javascript:;" th:onclick="|javascript:question_del(this,'${course.courseId }')|"
                       class="ml-5" style="text-decoration:none">
                        <i class="Hui-iconfont">&#xe6e2;</i></a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>

</div>






<footer th:include="admin/common :: footer"></footer>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/datatables/1.10.15/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/lib/laypage/1.2/laypage.js"></script>


<script type="text/javascript">
    $(function(){
        $('.table-sort').dataTable({
            "aaSorting":
                [
                    [
                        1,"desc"
                    ]
                ],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                {"orderable":false,"aTargets":[0,2]}// 制定列不参与排序
            ]
        });
        //复选框类型查询
        $('.type').change(function(){
            $.ajax({
                url: 'admin/question/singleChoiceList',
                data: 'examType=' + $('.type').val(),
                type: 'get',
                success: function(data){
                    $('#sheetList').html(data);
                },
                error: function(){
                    alert('网络出错');
                }
            })
        })

    });

</script>

</body>
</html>