<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learn.mapper.SchoolMapper" >
  <resultMap id="BaseResultMap" type="com.learn.pojo.School" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="CHAR" />
    <result column="place" property="place" jdbcType="CHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="properties" property="properties" jdbcType="CHAR" />
  </resultMap>
</mapper>